version: '3'
services:
  nginx:
    image: nginx:1.20
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    ports:
      - 80:80
      - 443:443

  app:
    image: python:3.7
    container_name: app
    expose:
      - "80"
    command: python3 -m http.server 80
